@import '../../../styles/color-scheme.scss';

$colorPopulated:      $primaryColor;
$colorNotPopulated:   $secondaryColor;
$colorCellBorder:     $neutralColor;

.life-cell.cell {
  border: 1px solid $colorCellBorder;
}

.life-cell {

  div {
    padding-bottom:100%;
    width:100%;    
  }
  
  .populated {
    background: $colorPopulated;
  }

  .not-populated {
    background: $colorNotPopulated;
  }
  
}